<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../Style/sign_up.css" />
  </head>
  <body>
    <div class="container">
      <div class="odin">
        <img src="../images/leon-removebg.png" alt="my logo" />
        <h1>Odin Project</h1>
      </div>
      <div class="formwrap">
        <div class="form">
            <div class="form--type">
                <label class="lab">Username<span> * </span></label>
                <input class="in" type="text" placeholder="Type Your Name in English Only" required>
                <label class="lab">Password<span> * </span></label>
                <input class="in" type="password" placeholder="Type a Complex Password" required >
                <label class="lab">Email<span> * </span></label>
                <input class="in" type="email" placeholder="Type a Valid Email" required >
                <label class="lab">Phone<span> * </span></label>
                <input class="in" type="tel">
                
            </div>
            <input class="button" type="submit" value="Register" >
        </div>
      </div>

      <!-- <div class="odin">
        <h1>The Odin</h1>
      </div>
      <div class = "formwrap">
        <form action = "" method="post">
          <div>
            <label for = "email">Email</label>
          </div>
          <input type = "email" id="email" name="email"/>
          <button type = "submit">Submit</button>
        </form>
      </div> -->
    </div>
  </body>
</html>
